<div class="row mb-4">
    <div class="col">
        <div class="form-outline">
            <label for="bookTitle" class="form-label">Title</label>
            <input id="bookTitle" class="form-control" type="text" name="title" value="<%= book.title %>" required>
        </div>
    </div>
    
    <div class="col">
        <div class="form-outline">
            <label class="form-label" for="author">Author</label>
            <select name="author" class="form-control">
                <% authors.forEach(author=> { %>
                    <% if (author.id === book.author) { %>
                        <option selected label="<%= author.name %>" value="<%= author.id %>">
                    <% } else { %>
                        <option label="<%= author.name %>" value="<%= author.id %>"></option>
                    <% } %>
                <% }) %>
            </select>
        </div>
    </div>
</div>

<div class="mb-4">
    <label class="form-label" for="isbn">ISBN</label>
    <input class="form-control" type="text" id="isbn" name="isbn" value="<%= book.isbn %>" pattern="[0-9]{13}" maxlength="13" required />
</div>

<div class="mb-4">
    <label class="form-label" for="publishDate">Publish Date</label>
    <input class="form-control" type="date" id="publishDate" name="publishDate" value="<%= book.publishDate == null ? '' :
            book.publishDate.toISOString().split('T')[0] %>" required />
</div>

<div class="mb-4">
    <label class="form-label" for="pageCount">Page Count</label>
    <input class="form-control" type="number" id="pageCount" name="pageCount" min="1" value="<%= book.pageCount %>" required />
</div>

<% const selectedGenre = book.genre || 'Other'; %>
<div class="mb-4">
    <label class="form-label" for="genre">Genre</label>
    <select class="form-control" id="genre" name="genre" required>
        <% genres.forEach(function(genre){ %>
            <option value="<%= genre %>" <%= selectedGenre === genre ? 'selected' : '' %>><%= genre %></option>
        <% }) %>
    </select>
</div>

<div class="row mb-4">
    <div class="col">
        <div class="form-outline">
            <label class="form-label" for="cover">Cover</label>
            <input type="file" id="cover" name="cover" class="filepond" accept=".jpeg, .jpg, .png" required />
        </div>
    </div>
    
    <div class="col">
        <div class="form-outline">
            <label class="form-label" for="description">Description</label>
            <textarea class="form-control" id="description" name="description" rows="20"><%= book.description %></textarea>
        </div>
    </div>
</div>
