<section class="books">
    <div class="container">
        <div class="row">
            <h2>Search Book</h2>
            <form action="/books" method="GET">
                <div>
                    <label>Title</label>
                    <input type="text" name="title" value="<%= searchOptions.title %>">
                </div>
                <div>
                    <label>Published After</label>
                    <input type="date" name="publishedAfter" value="<%= searchOptions.publishedAfter %>">
                </div>
                <div>
                    <label>Published Before</label>
                    <input type="date" name="publishedBefore" value="<%= searchOptions.publishedBefore %>">
                </div>
                <button type="submit">Search</button>
            </form>
            <div class="row">
                <!-- START OF BOOK ITEMS  -->
                <% books.forEach(book=> { %>
                    <div class="col-lg-4 col-md-6">
                        <div class="book-box shadow">
                            <img src="<%= book.coverImagePath %>" alt="Book Cover" width="100" height="150" class="img-fluid"/>
                            <div class="book-info">
                                <div class="caption">
                                    <h4><%= book.title %></h4>
                                    <p>Author Name</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                <!-- END OF BOOK ITEMS  -->
            </div>
        </div>
    </div>
</section>