<% function truncate(str, len) { 
    if (str.length> len && str.length > 0) {
        let new_str = str + ' '
        new_str = str.substr(0, len)
        new_str = str.substr(0, new_str.lastIndexOf(' '))
        new_str = new_str.length > 0 ? new_str : str.substr(0, len)
        return new_str + '...'
    }
        return str
    }
%>

<section id="books">
    <section class="books-search-box card mb-4">
        <div class="card-header border-light">
            <h2>Search Book</h2>
        </div>
        <div class="card-body">
            <form action="/books" method="GET">
                <div class="form-outline">
                    <label for="title" class="form-label">Title</label>
                    <input id="title" class="form-control" type="text" name="title" value="<%= searchOptions.title %>" placeholder="Enter title of book">
                </div>
                <div class="row flex-xs-column">
                    <div class="col pt-3">
                        <div class="form-outline">
                            <label for="publishedAfter" class="form-label">Published After</label>
                            <input id="publishedAfter" class="form-control" type="date" name="publishedAfter"
                                value="<%= searchOptions.publishedAfter %>">
                        </div>
                    </div>
                    <div class="col pt-3">
                        <div class="form-outline">
                            <label for="publishedBefore" class="form-label">Published Before</label>
                            <input id="publishedBefore" class="form-control" type="date" name="publishedBefore"
                                value="<%= searchOptions.publishedBefore %>">
                        </div>
                    </div>
                </div>
                <div class="pt-3">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </form>
        </div>
    </section>

    <section class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
        <!-- START OF BOOK ITEMS  -->
        <% books.forEach(book => { %>
            <div class="col">
                <div class="book-card card">
                    <div class="row">
                        <div class="book-img col">
                            <a href="/books/<%= book.id %>" class="d-flex justify-content-center">
                                <img src="<%= book.coverImagePath %>" alt="Book Cover" height="250" width="200" loading="lazy" />
                            </a>
                        </div>
                        <!-- <div class="col p-2">
                            <p class="fw-bold"><%= truncate(book.title, 50) %></p>
                            <p>By: <%= book.author.name %></p>
                        </div>
                        <p class="mt-3"><%= truncate(book.description, 180) %></p>
                        <p class="d-block mt-1"><span class="fw-bold">ISBN13:</span>
                            <%= book.isbn %>
                        </p> -->
                    </div>
                </div>
            </div>
        <% }) %>
        <!-- END OF BOOK ITEMS  -->
    </section>
</section>