<div id="books" class="container pb-3">
    <div class="card mb-4">
        <div class="card-header border-light">
            <h2>Search Book</h2>
        </div>
        <div class="card-body">
            <form action="/books" method="GET">
                <div class="form-outline">
                    <label class="form-label">Title</label>
                    <input class="form-control" type="text" name="title" value="<%= searchOptions.title %>">
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-outline">
                            <label class="form-label">Published After</label>
                            <input class="form-control" type="date" name="publishedAfter"
                                value="<%= searchOptions.publishedAfter %>">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-outline mb-2">
                            <label class="form-label">Published Before</label>
                            <input class="form-control" type="date" name="publishedBefore"
                                value="<%= searchOptions.publishedBefore %>">
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
        <!-- START OF BOOK ITEMS  -->
        <% books.forEach(book=> { %>
            <div class="col">
                <div class="card">
                    <div class="row">
                        <div class="col">
                            <a href="/books/<%= book.id %>" class="d-flex justify-content-center">
                                <img src="<%= book.coverImagePath %>" alt="Book Cover" width="150" class="img-fluid" />
                            </a>
                        </div>
                        <div class="col p-2">
                            <p class="text-center fw-bold">
                                <%= book.title %>
                            </p>
                            <p class="d-block mt-2"><span class="fw-bold">ISBN13:</span>
                                <%= book.isbn %>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <% }) %>
                <!-- END OF BOOK ITEMS  -->
    </div>