<h2><%= book.title %></h2>
<img src="<%= book.coverImagePath %>" class="img-fluid w-25">
<div>Author: <%= book.author.name %></div>
<div>Publish Date: <%= book.publishDate.toDateString() %></div>
<div>Page Count: <%= book.pageCount %></div>
<div>Description: <%= book.description %></div>
<div>ISBN(13): <%= book.isbn %></div>

<a href="/books/<%= book.id %>/edit">Edit</a>
<%- include('../partials/deleteForm', { url: `/books/${book.id}` }) %>
<a href="/authors/<%= book.author.id %>">View Author</a>