<section id="book-view" class="text-white">
    <h2><%= book.title %></h2>
    <div class="book-content pt-3 d-flex flex-sm-column flex-md-row justify-content-around">
        <img src="<%= book.coverImagePath %>" alt="<%= book.title %>" width="200" height="250" loading="lazy">
        <div class="px-4">
            <p>Author: <%= book.author.name %></p>
            <p>Publish Date: <%= book.publishDate.toDateString() %></p>
            <p>Page Count: <%= book.pageCount %></p>
            <p>Description: <%= book.description %></p>
            <p>ISBN(13): <%= book.isbn %></p>
            <p>Genre: <%= book.genre || 'Other' %></p>
            
            <div class="d-flex justify-content-around">
                <% if(isAuth) { %>
                <a href="/books/<%= book.id %>/edit" class="btn btn-md btn-success">Edit</a>
                <%- include('../partials/deleteForm', { url: `/books/${book.id}` }) %>
                <% } %>
                <a href="/authors/<%= book.author.id %>" class="btn btn-primary">View Author</a>
            </div>
        </div>
    </div>
</section>
