<section class="welcome mt-4 pt-4">
    <h2>Welcome, <%= user ? user.userName || user.firstName : 'Guest' %>
    </h2>
    <!-- <img src="<%= user ? user.profilePicture : '' %>" alt="Profile picture of user "> -->
</section>

<section class="search-bar mt-4">
    <form id="searchForm" class="d-flex">
        <input type="text" id="searchInput" class="form-control me-2" placeholder="Search by Title, or Author">
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</section>

<section class="stats row mt-4">
    <div class="col-md-4">
        <div class="stats-card">
            <h3>
                <%= booksCount %>
            </h3>
            <p>Total Books</p>
            <a href="/books/new" class="btn btn-sm btn-success">Add new Book</a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="stats-card">
            <h3>
                <%= authorsCount %>
            </h3>
            <p>Total Authors</p>
            <a href="/authors/new" class="btn btn-sm btn-success">Create new Author</a>
        </div>
    </div>
</section>

<section class="row mt-4">
    <section class="mt-4">
        <table style="table-layout: fixed; width: 100%;">
            <thead>
                <tr id="booksHeader" class="tableList">
                    <!-- <th alt="checkbox" class="header field checkbox"></th> -->
                    <th alt="position" class="header field position">
                        <a href="">#</a>
                    </th>
                    <th alt="cover" class="header field cover">
                        <a href="">cover</a>
                    </th>
                    <th alt="title" class="header field title">
                        <a href="">title</a>
                    </th>
                    <th alt="author" class="header field author">
                        <a href="">author</a>
                    </th>
                    <th alt="isbn13" class="header field isbn13">
                        <a href="">isbn13</a>
                    </th>
                    <th alt="num_pages" class="header field num_pages">
                        <a href="">num pages</a>
                    </th>
                    <th alt="date_pub" class="header field date_pub">
                        <a href="">date pub</a>
                    </th>
                    
                    <th alt="rating" class="header field rating">
                        <a href="">rating</a>
                    </th>
                    <th alt="notes" class="header field notes" style="display: none">
                        <a href="">notes</a>
                    </th>
                    <th alt="comments" class="header field comments" style="display: none">
                        <a href="">comments</a>
                    </th>
                    <th alt="read_count" class="header field read_count">
                        <a href="">read count</a>
                    </th>
                    <th alt="date_started" class="header field date_started">
                        <a href="">date started</a>
                    </th>
                    <th alt="date_read" class="header field date_read">
                        <a href="">date read</a>
                    </th>
                </tr>
            </thead>
            <tbody id="booksBody">
                <% books.forEach(book=> { %>
                <tr class="tableList" data-id="<%= book._id %>">
                    <!-- <td class="field checkbox"></td> -->
                    <td class="field position"></td>
                    <td class="field cover">
                        <img src="<%= book.coverImagePath %>" alt="Book Cover" class="img-fluid" width="50" height="75" loading="lazy">
                    </td>
                    <td class="field title"><%= book.title %></td>
                    <td class="field author"><%= book.author.name %></td>
                    <td class="field isbn13"><%= book.isbn %></td>
                    <td class="field numOfPages text-center"><%= book.pageCount %></td>
                    <td class="field datePub"></td>
                    <td class="field rating"></td>
                    <td class="field readCount"></td>
                    <td class="field dateStarted"></td>
                    <td class="field dateRead"></td>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </section>

    <!-- <section class="activity-feed mt-4 px-4 col-md-4">
        <section class="card p-4 shadow">
            <h4 class="text-center">Recent Activities</h4>
            <ul>
                <% activities.forEach(activity=> { %>
                    <li>
                        <%= activity %>
                    </li>
                    <% }) %>
            </ul>
        </section>
    </section> -->
</section>