<section class="welcome mt-4 pt-4">
    <h2>Welcome, <%= user.userName %></h2>
    <!-- <img src="" alt="Profile picture of user "> -->
</section>

<section class="search-bar mt-4">
    <form id="searchForm" class="d-flex">
        <input type="text" id="searchInput" class="form-control me-2"
            placeholder="Search by Title, or Author">
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</section>

<section class="stats row mt-4">
    <div class="col-md-4">
        <div class="stats-card">
            <div class="icon">📚</div>
            <h3>
                <%= booksCount %>
            </h3>
            <p>Total Books</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="stats-card">
            <div class="icon">🖋️</div>
            <h3>
                <%= authorsCount %>
            </h3>
            <p>Total Authors</p>
        </div>
    </div>
</section>

<section class="row mt-4">
    <section class="books-grid mt-4 col-md-8">
        <% books.forEach(book=> { %>
            <div class="book-card card mb-4">
                <div class="row h-auto">
                    <a href="/books/<%= book.id %>" class="d-block col-sm-5">
                        <img src="<%= book.coverImagePath %>" alt="Book Cover" class="img-fluid" loading="lazy">
                    </a> 
                    <div class="details col-sm-7">
                        <div class="card-body">
                            <h5><%= book.title %></h5>
                            <p>by <%= book.author.name %></p>
                            <p><b>ISBN(13):</b> <%= book.isbn %></p>
                        </div>
                    </div>
                </div>
            </div>
            <% }) %>
    </section>

    <section class="activity-feed mt-4 px-4 col-md-4">
        <section class="card p-4 shadow">
            <h4 class="text-center">Recent Activities</h4>
            <ul>
                <% activities.forEach(activity => { %>
                    <li>
                        <%= activity %>
                    </li>
                <% }) %>
            </ul>
        </section>
    </section>
</section>
