<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Bookup is your go-to destination for discovering and exploring a vast collection of books">
    <meta name="keywords"
        content="book, directory, project, crud, software, application, nodejs, express, mongodb, ejs, bootstrap">
    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="Book Up | <%- title %>">
    <meta property="og:description"
        content="Bookup is your go-to destination for discovering and exploring a vast collection of books">
    <meta property="og:image" content="/favicon-32x32.png">
    <meta property="og:url" content="https://bookup.onrender.com">
    <title>Book Up | <%- title %></title>
    <!-- FAVICON -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <!-- <link rel="manifest" href="/site.webmanifest"> -->
    <!-- Google Font  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
        rel="stylesheet">
    <link rel="preload" as="image" href="/images/library-small.webp">
    <!-- CSS Style Sheet -->
    <link rel="stylesheet" href="/css/styles.min.css">
</head>

<body>
    <div class="wrapper">
        <!-- Header Section -->
        <%- include('../partials/header') %>
        <!-- Main Content Section -->
        <main id="main-home">
            <div class="container">
                <%- body %>
            </div>
        </main>
        <!-- Footer Section -->
        <%- include('../partials/footer') %>
    </div>

    <script src="/js/main.js"></script>
    <script async src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>

</html>