<%- include('./partials/welcome') %>

<div class="row row-cols-1 row-cols-md-2 g-4 mb-3">
    <div class="col">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <div class="media d-flex justify-content-around">
                        <div class="media-body text-left">
                            <h3 class="primary"><%= booksCount %></h3>
                            <span>Books Added</span>
                        </div>
                        <div class="align-self-center">
                            <i class="fa-solid fa-book fa-2x"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <div class="media d-flex justify-content-around">
                        <div class="media-body text-left">
                            <h3 class="primary"><%= authorsCount %></h3>
                            <span>Authors Added</span>
                        </div>
                        <div class="align-self-center">
                            <i class="fa-solid fa-user fa-2x"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="book-container row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
    <!-- START OF BOOK ITEMS  -->
    <% books.forEach(book=> { %>
        <div class="book-box col text-center mh-100">
            <a class="h-100" href="/books/<%= book.id %>">
                <img src="<%= book.coverImagePath %>" alt="Book Cover" class="img-fluid h-100">
            </a>
        </div>
    <% }) %>
    <!-- END OF BOOK ITEMS  -->
</div>