<h2>Search Authors</h2>
<form action="/authors" method="GET">
    <label>Name</label>
    <input type="text" name="name" value="<%= searchOptions.name %>">
    <button type="submit">Search</button>
</form>
<br>
<% authors.forEach(author => { %>
    <div class="author">
        <div class="author__name">
            <%= author.name %>
        </div>
        <div class="author__options">
            <a href="/authors/<%= author.id %>" class="btn">View</a>
            <a href="/authors/<%= author.id %>/edit" class="btn btn-primary">Edit</a>
            <%- include('../partials/deleteForm', { url: `/authors/${author.id}` }) %>
        </div>
    </div>

<% }) %>