<h2> <%= author.name %></h2>
<a href="/authors/<%= author.id %>/edit">Edit</a>
<%- include('../partials/deleteForm', { url: `/authors/${author.id}` }) %>
<% if(booksByAuthor.length > 0) { %>
    <h2>Books By Author</h2>
    <div class="row">
        <!-- START OF BOOK ITEMS  -->
        <% booksByAuthor.forEach(book => { %>
            <div class="col-6 col-sm-4">
                <a href="/books/<%= book.id %>">
                    <img src="<%= book.coverImagePath %>" alt="Book Cover" class="img-fluid" width="200" />
                </a>
            </div>
        <% }) %>
        <!-- END OF BOOK ITEMS  -->
    </div>
<% } %>