<div id="author-view" class="container">
    <h2> <%= author.name %></h2>
    <%- include('../partials/errorMessage') %>
    <div class="d-flex py-3">
        <% if(isAuth) { %>
            <a href="/authors/<%= author.id %>/edit" class="btn btn-md btn-success mx-3">
                <i class="fa-solid fa-pen-to-square"></i>
            </a>
            <%- include('../partials/deleteForm', { url: `/authors/${author.id}` }) %>
        <% } %>
    </div>

    <% if(booksByAuthor.length > 0) { %>
        <h2 class="py-3">Books By Author</h2>
        <div class="row">
            <!-- START OF BOOK ITEMS  -->
            <% booksByAuthor.forEach(book => { %>
                <div class="col-6 col-sm-4">
                    <a href="/books/<%= book.id %>">
                        <img src="<%= book.coverImagePath %>" alt="Book Cover" class="img-fluid" width="200" loading="lazy" />
                    </a>
                </div>
            <% }) %>
            <!-- END OF BOOK ITEMS  -->
        </div>
    <% } else { %>
        <h4>There is no book/books to be found.</h4>
    <% } %>
</div>